<div class="topcoat-navigation-bar">

    <div class="topcoat-navigation-bar__item left quarter">
        <a id="slide-menu-button" class="topcoat-icon-button--quiet slide-menu-button">
            <img class="topcoat-icon" src="img/hamburger_light.png" />   
        </a>
    </div>

    <div class="topcoat-navigation-bar__item center half">
        <h1 class="topcoat-navigation-bar__title">Push Notification</h1>
    </div>    
    
</div>

<%= side_nav
%>

<div class="main-content">

    <div id="inner-container">
        <h3>Would you like to receive push notifications?</h3>


            <label class="topcoat-checkbox">
              <input type="checkbox" id="myonoffswitch" 
                     <% if(notification==1)print("checked"); %> >
              <div class="topcoat-checkbox__checkmark"></div>
              Notifications
            </label>
        
        </div>
</div>